#
# Please note that this file must be called .my.cnf to work.
# Since filenames beginning with '.' are hidden by default,
# the leading . has been omitted in this example file.
#
[client]
password=[paste password here]
